@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




/* observer */
.hiddenslide{
    opacity: 0;
    filter: blur(5px);
    transform:translateX(-100%);
    transition: all 2s;
}
.showslide{
    opacity:1;
    filter:blur(0);
    transform:translateX(0);
}
.hiddenslide2{
    opacity: 0;
    filter: blur(5px);
    transform:translateX(100%);
    transition: all 2s;
}
.showslide2{
    opacity:1;
    filter:blur(0);
    transform:translateX(0);
}

/* observer */
@keyframes upandown {
    from { transform: translatey(-100%); }
    to { transform: translatey(0%); }

}
@keyframes downandup {
    0% { transform: translatey(0); }
    50% { transform: translatey(-100%); }
    100% {opacity: 0;}
}

#callcenter{
    height:30rem;
}

#x-speaktosale{
    position: absolute;
    top:1rem;
    left:1rem;
}


#x-speaktosale:hover{
    cursor: pointer;
}


.speaktosale{
    animation-name: upandown;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-direction: alternate;
    /* animation-iteration-count: infinite; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: white;
    /* display: none; */
  }

.Home-container{
    overflow: hidden;
    position: relative;
}

.Home-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(249, 245, 245),rgb(234, 248, 234));
  background-size: contain;
  background-position: center;
  z-index: -1;
}
/*login */

.login-container{
    height:100vh;
    background-image: url('./assets/binary.jpg');
    background-size: cover;
    animation: backgroundMoveUp 20s linear infinite;
}
@keyframes backgroundMoveUp {
    0% { background-position: 0% 0%; }
    100% { background-position: 0% -100%; }
  }

#login-container-custom{
    max-width: 1300px;
    margin:auto;
    justify-content: center;
    gap:3rem;
}
#login-img-custom{
    border-radius:51% 49% 45% 55% / 26% 64% 36% 74%;
    overflow: hidden;
    width:35rem;
    box-shadow: 4px 4px 20px 3px rgb(42, 115, 137);
    /* filter: blur(5px); */
}
#login-form-custom{
    /* border:solid;
    border-color: rgb(193, 219, 193); */
    background-color: rgba(21, 21, 21, 0.864);
}
#login-text-custom{
    color:rgb(202, 248, 202);
    text-shadow: 2px 2px 20px red;
}

/* login */

/* reset */
#reset-text-custom{
    color:rgb(255, 30, 30);
    text-shadow: 2px 2px 20px red;
}
.reset-form{
    border:solid;
    max-width: 800px;
    margin:auto;
    border-color:red;
    color:rgb(202, 248, 202);
    display: flex;
    justify-content: center;
}

.reset-container{
    display:flex;
    align-items: center;
    height:100vh;
    background-image: url('./assets/binary.jpg');
    background-size: cover;
    animation: backgroundMoveUp 20s linear infinite;
}


/* reset */


/* ad */
#ad-a-custom{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



#ad-text-custom{
    font-style: italic;
    font-family: 'Madimi One';
}
.ad-image{
    display: block;
}
.ad-container{
    max-width: 1270px;
    /* border:solid; */
    margin:auto;
    display:flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-top: 3rem;
    overflow: hidden;
}
.ad1-container{
    width:auto;
}
.ad1-container h1{
    font-family: 'Madimi One';
    font-size: 4rem;
    padding-bottom: 1rem;
}

/*ad */

/* slideshow */
.myslideshow-container{
    /* background-image: linear-gradient(to right,pink,rgb(250, 250, 173)); */
    /* background-color: #121212; */
}
.slideshow-container {
    max-width: 1150px;
    margin: auto;
    border: 5px solid;
    border-radius:20px;
    border-color: antiquewhite;
    position: relative;
    background-color: antiquewhite;
}

.slideshow-img {
    position: relative;
    object-fit:cover;
    height:18rem;
    width:18rem;
    padding:1rem;
    border-radius: 20px;
    overflow: hidden;
    /* border:solid; */
}
.myslideshow-container .slick-prev:before,
.myslideshow-container .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: black; /* Change arrow color to black */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
}
.myslideshow-container .slick-prev{
    left: -36px;
}
.myslideshow-container .slick-dots li button:before {
    font-size: 20px;
    top:10px;
}
/* slideshow */

/* checkout */
.checkout-show{
    height:100vh;
    max-width: 1270px;
    margin: auto;
    padding-top:6rem;
    z-index:-1;
    overflow: auto;
}
.checkout-show button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.checkout-submit{
    z-index:-1;
    overflow: hidden;
    width:100%;
    gap: 2rem;
}
#form-checkout{
    height:15rem;
    display: flex;
    align-items: center;
}
#form-input {
    border-radius: 0.5rem; 
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
}

#icon-container{
    border:1rem;
    border-right:none;
    background-color: white;
    border-radius:0.5rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.icon {
    width: 2.2rem;
    height:auto;
    flex-shrink: 0;
}

/* checkout */

/* cart */

/* finish */

.finish-container{
    /* border:solid; */
    width:100%;
    color:white;
    opacity :0;
    transition: ease-in-out 0.5s;
}

/* finish */
.but-container{
    /* border:solid; */
    margin-top: 1rem;
    /* border-color:red; */
    margin-top:0.2rem;
    display:flex;
    width: 100%;
    justify-content: space-between;
}
.but {
    width: 2.2rem;
    height: auto;
    flex-shrink: 0;
    background-color: rgb(205, 236, 205);
    border-radius:9999px;
    overflow: hidden;
}
.but:hover{
    background-color:steelblue;
    cursor: pointer;
}

.but-container input{
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1rem;
    padding:2px;
    box-shadow: inset 0 0 5px green; /* Adjust the values as needed */
}

.si-container{
    /* border:solid; */
    /* border-color:blue; */
    height:28rem;
    opacity:0;
    transition: ease-in-out 0.5s;
    overflow-y: auto;
    padding-bottom: 2rem;
}

.si-container img{
    height:12rem;
    width:12rem;
    object-fit: cover;
    border-radius: 0.5rem;
    overflow: hidden;
}
.si-info-name {
    font-size: 2rem;
    color: black;
    font-family: 'Madimi One';
    font-weight: 600;
    letter-spacing: -0.025rem;
    text-align: center;

}
.si-info{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border: solid; */
    margin-top:1rem;
    /* border-color:yellow; */
}

.sidecart2:hover > .si-container{
    opacity:1;
}
.sidecart2:hover > .finish-container{
    opacity:1;
}
.sidecart.alternate-background,.sidecart2.alternate-background{
    background-image: linear-gradient(to bottom,rgb(193, 193, 243),rgb(250, 250, 255));
}


.sidecart ,.sidecart2 {
    background-color: white;
    position: relative;
    width: 6rem;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    transition: ease-in-out 0.5s;
    /* background-image: linear-gradient(to bottom, pink,rgb(239, 239, 183)); */
    background-image: url('./assets/white-paper-texture_1194-2301.avif');
    background-size: cover;
    background-position: center;
    /* border: solid; */
    /* border-color:pink; */
}
.sidecart2{
    display:block;
}
.sidecart{
    display:none;
}

.sidecart2:hover {
    width: 24rem;
}
.sidecart2 h1{
    opacity: 0;
}

.sidecart2:hover > h1{

    opacity: 1;
}
.si-icon-container{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.productnumber{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-0.8rem;
    left:-0.8rem;
    background-color: white;
    border-radius:1rem;
    width:1.5rem;
    padding:0.2rem;
    text-align: center;
    height:1.5rem;
    font-size:1.3rem;
}
.productnumber2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-0.2rem;
    left:-0.4rem;
    background-color: white;
    border-radius:1rem;
    width:1.5rem;
    padding:0.2rem;
    text-align: center;
    height:1.5rem;
    font-size:1.3rem;
}

.si-icon , .si-icon2 {
    width: 2.2rem;
    height: auto;
    flex-shrink: 0;
    background-color: rgb(205, 236, 205);
    border-radius:9999px;
    overflow: hidden;
    fill:rgb(36, 133, 36);
}
.si-icon2:hover{
    cursor: pointer;
}
.si-icon2{
    margin:0.3rem;
    width:3rem;
    display:none;
}
.si-xclose{
    margin:0.3rem;
    width:4rem;
    fill:rgb(249, 22, 22);
    display:none;
}
.si-xclose:hover{
    cursor: pointer;
}

.si-item {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: ease-in-out 0.5s; /* Add transition property here */
}

.si-item-text {
    opacity: 0;
    transition: ease-in-out 0.4s;
    transition-delay: 0.2s;
    white-space: nowrap;
    margin-left : 1rem;
    font-family:'Madimi One';
    font-size:2rem;
    color:black;
}

.sidecart2:hover > .si-item .si-item-text {
    opacity: 1;
}

.sidecart2:hover > .si-item {
    justify-content: center;
}



/* cart */

/* side bar */
.sidebar.alternate-background {
    background-image: linear-gradient(to bottom,rgb(193, 193, 243),rgb(250, 250, 255));
    /* Add any other styles for the alternate background */
}
.sidebar{
    position: relative;
    width: 6rem;
    height:100%;
    box-sizing: border-box;
    padding:1.5rem;
    /* background-color: white; */
    transition: ease-in-out 0.4s;
    overflow: hidden;
    display:block;
    z-index: 200;
    /* background-image: linear-gradient(to bottom, pink,rgb(239, 239, 183)); */
    background-image: url('./assets/white-paper-texture_1194-2301.avif');
    background-size: cover;
    background-position: center;
}
.sidebar2.alternate-background {
    background-image: linear-gradient(to bottom,rgb(193, 193, 243),rgb(250, 250, 255));
    /* Add any other styles for the alternate background */
}
.sidebar2{
    position: relative;
    display:none;
    position: relative;
    width: 12rem;
    height:100%;
    box-sizing: border-box;
    padding:1.5rem;
    background-color: white;
    transition: ease-in-out 0.1s;
    overflow: hidden;
    z-index: 200 ;
    /* background-image: linear-gradient(to bottom, pink,rgb(239, 239, 183)); */
    background-image: url('./assets/white-paper-texture_1194-2301.avif');
    background-size: cover;
    background-position: center;
}
.x-container{
    position:absolute;
    top:0.5rem;
    right:0.25rem;
}
.x-container:hover{
    cursor: pointer;
}
.nav-button{
    padding-left: 1rem;
    padding-top:0.4rem;
    display:none;
}

.sidebar:hover{
    width:12rem;
}

.sidebar:hover > .item >.text{
    opacity:1;
}
hr{
    height:1px;
    color: #919191;
}
.logo{
    display: flex;
    justify-content: center;
    /* border:solid; */
}
.logo img{
    width:3rem;
    /* border:solid; */
    margin-left: -0.5rem;
}

.item{
    display:flex;
    align-items: center;
    margin: 1.75rem 0;
}

.nav-button:hover{
    cursor: pointer;
}

.icon {
    width: 2.2rem;
    height:auto;
    flex-shrink: 0;
}

.icon-user{
    width: 2.2rem;
    height:auto;
    flex-shrink: 0;
    border-radius:9999px;
    overflow: hidden;
}

.sidebar .item .text {
    opacity: 0;
    transition: ease-in-out 0.4s;
    transition-delay: 0.2s;
    margin-left: 15px;
    white-space: nowrap;
}

.sidebar2 .item .text {
    transition: ease-in-out 0.4s;
    transition-delay: 0.2s;
    margin-left: 15px;
    white-space: nowrap;
}


.sidebar2 text{
    margin-left: 15px;
    white-space: nowrap;
}

.item .text:hover {
    border-radius: 0.25rem;
    cursor: pointer;
    transform: scale(1.25);
    box-shadow:0 0 #0000;
    background-color:#F6F6E8 ;
    padding:0.25rem 0.25rem;
}

/* side bar */

/* hero section  */
.hero{
    background-color: #F6F6E8;
}




/* hero section */

/* product show */

.container-product{
   /* background-image: linear-gradient(to right,pink,rgb(250, 250, 173)); */
   width:100%;
   margin-top:6rem;
}
.product-loading{
    max-width: 1270px;
    margin:auto;
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.tiktok-spinner{
    position:relative;
    height:2em;
    width:4.1em;
}
.ball{
    position: absolute;
    height:2em;
    width: 2em;
    border-radius:50%;
    mix-blend-mode: multiply;
}
.ball.red{
    left:0;
    background-color: #f71375;
    animation: 0.7s red-move ease-in-out infinite;
}
.ball.blue{
    right:0;
    background-color: #37f7f6;
    animation : 0.7s blue-move ease-in-out infinite;
}
@keyframes blue-move{
    25%{
        transoform: scale(0,7);
    }
    50%{
        right:1.9em;
    }
    75%{
        transform: scale(1.2);
    }
    100%{
        right:0;
    }
}
@keyframes red-move{
    25%{
        transoform: scale(1,2);
    }
    50%{
        left:1.9em;
    }
    75%{
        transform: scale(0.7);
    }
    100%{
        left:0;
    }
}
.employees-container {
    max-width: 1250px;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
    padding-top:4rem;
    gap:2rem;
}
#myfuckingtable{
    overflow-wrap:break-word;
}
#mytr{
    overflow-wrap: break-word;
    height:4rem;
    text-align: center;
}

.product-container2{
    /* border:solid; */
    /* border-color:red; */
    max-width: 1250px;
    margin:auto;
    display:flex;
    flex-wrap: wrap !important;
    gap:1rem;
}
.product-show-container{
    flex:2.5;
    height: fit-content;
}

@keyframes marquee {
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
  }
  
  .product-show-hero .marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 14s linear infinite;
  }
  
.product-show-hero{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:12rem;
    background-image: url('./assets/unique.jpg');
    background-size: cover;
    border-radius:10px;
    color:white;
    font-family: 'Madimi One';
}
@keyframes shake {
    from{ transform: skewX(20deg)}
    to { transform: skewX(-20deg)};
}

#word-fire{
    animation-name: shake;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor:default;
}
.top-sell-container{
    /* border:solid;
    border-color:yellow; */
    flex:1;
    z-index: 0;
}
@keyframes arrow-down{
    from{margin-top: 0px;}
    to{margin-top: 2rem;}
}

#top-sell-hero{
    z-index: 0;
    position: relative;
    padding-top: 4rem;
    height:15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right,rgb(255, 241, 241),rgb(233, 233, 233));
    border-radius:2rem;
}
#hot-sale{  
    z-index: 0;
    position: relative;
    font-size:2rem;
    font-family: 'Madimi One';
    background-image: linear-gradient(to left,rgb(255, 246, 246),rgb(252, 252, 228));
    padding:0.5rem;
    border-radius: 1rem;
}
#arrow-down{
    animation-name: arrow-down;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.sell-show-container{
    /* border:solid; */
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding:1.5rem;
    position: relative;
}
.product-show{
    position: relative;
    width:100%;
    padding: 2rem 2rem;
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 3rem;
    row-gap: 3rem;
}
#productx-fontfamily{
    font-family:"Madimi One" ;
}

.productx {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}
@keyframes gettingfaded {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

.product-animated{
    animation-name: gettingfaded;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.productx-details {
    position: absolute;
    width: 100%;
    height:100%;
    font-family:'Madimi One';
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:1rem;
    /* height: 178%; */
    border-radius: 1rem;
    background-color: rgba(102, 102, 102, 0.851);
    z-index: 1;
    visibility: hidden;
    color:white;
}
.productx-container1{
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius:1rem;
}

.productx-container1:hover .productx-details {
    visibility: visible;
}


.productx-imga {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 13rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}


.productx-imga2{
    position: absolute;
    top:0;
    object-fit: cover;
    width: 100%;
    height: 13rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.hidden{
    display:none;
}

.productx-info {
    position: relative;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.productx span {
    font-family: "Montserrat";
    margin-left: 0.5rem;
}



/* product show */

/* comment */
.comment-container{
    height:fit-content;
    display: flex;
    flex-direction: column;
    margin:auto;
    gap:2rem;
    /* border:solid;
    border-color:red; */
    padding:2rem;
    overflow: auto;
    background-color: beige;
}
#mycomment{
    width:37rem;
    max-height:30rem;
    overflow: auto;
    display:flex;
    flex-direction: column;
    padding-top:1rem;
    border-radius:0.5rem;
    padding-right:1rem;
    padding-left:1rem;
    padding-bottom:1rem;
    background-color: rgb(200, 200, 231);
    box-shadow: 20px 20px 5px rgb(1, 28, 37);
    margin:auto;
    margin-bottom:2rem;
}
#enter-comment{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top:0.5rem;
    width: 34rem;
    margin:auto;
    margin-bottom: 3rem;
}
#enter-comment textarea{
    width:100%;
}



/* comment */
/* media  */

/* for small */

.smallbut-container{
    display:none;
}
.but2{
    width: 2.2rem;
    height: auto;
    flex-shrink: 0;
    background-color: rgb(205, 236, 205);
    border-radius:9999px;
    overflow: hidden;
}


@media (max-width:767px){
    .ad1-container{
        width:100%;
    }
    .ad-image{
        display: none;
    }
    .ad1-container h1{
        font-size: 3rem;
        text-align: center;
    }
    #form-checkout{
        height:auto;
    }
    #mycomment{
        width:fit-content;
    }
    #enter-comment{
        width: fit-content;
    }
    #form-checkout{
        padding-right:1rem;
    }

    #callcenter{
        display:none;
    }
    #x-speaktosale{
        position: absolute;
        top:-10rem;
        left:9rem;
    }
    .speaktosale{
        padding-top:10rem;
    }
    #login-img-custom{
        display:none;
    }
    .checkout-submit{
        gap:1rem;
    }
    .si-item{
        justify-content: center;
    }
    .si-container{
        opacity:1;
        height:20rem;
    }
    .si-item-text {
        opacity: 1;
        text-align: center;
    }
    .finish-container{
        opacity: 1;
    }
    .sidecart2{
        display:none;
    }
    .sidecart{
        /* border:solid; */
        display:block;
        width:19rem;
    }
    .but-container input{
        font-size: 2rem;
    }
    .smallbut-container{
        display:flex;
        /* border:solid; */
        /* border-color:blue; */
        gap:4rem;
    }
    .but-container{
        display:flex;
        flex-direction:column;
        align-items: center;
        gap:0.4rem;
        /* border:solid; */
        /* border-color:green; */
        overflow: hidden;
    }
    .but{
        display: none;
    }
    .productx img{
        height:15rem;
    }
    .productx span{
        font-size:x-large;
    }
    .product-show{
        grid-template-columns:none;
    }
    .hero a{
        margin-top:1rem;
    }
    .si-icon2{
        display:block;
    }
    .si-xclose{
        display:block;
    }
    .comment-container{
        height:fit-content;
        width: fit-content;
        gap:1rem;
        background-size: contain;
    }
}

/* for medium */

@media (min-width: 768px) and (max-width: 1024px) {
    #callcenter{
        display:none;
    }
    #x-speaktosale{
        position: absolute;
        top:0rem;
        left:23rem;
    }
    .comment-container{
        height:100vh;
        gap:1rem;
        justify-content: center;
    }
    .checkout-submit{
        gap:1rem;
    }
    .si-xclose{
        display:block;
    }
    .but-container input{
        font-size: 2rem;
    }
    .smallbut-container{
        display:flex;
        /* border:solid; */
        gap:4rem;
    }
    .but-container{
        display:flex;
        flex-direction:column;
        align-items: center;
        gap:0.4rem;
        /* border:solid; */
        /* border-color:green; */
        overflow: hidden;
    }
    .but{
        display: none;
    }
    .si-item{
        justify-content: center;
    }
    .si-container{
        opacity:1;
        height:20rem;
    }
    .si-item-text {
        opacity: 1;
        text-align: center;
    }
    .finish-container{
        opacity: 1;
    }
    .product-show{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .sidecart2{
        display:none;
    }
    .si-icon2{
        display:block;
    }
    .sidecart{
        display:block;
        width:19rem;
    }
    #login-img-custom{
        display:none;
    }
}
  


/* both medium and large */
@media (max-width: 1439px) { 
    .sidebar{
        display:none;
    }
    .hero{
        padding-top:1rem;
    }
    .nav-button{
        display:block;
    }
    .sidebar2{
        display:block;
    }
}

/* media */